body {
  background-color: teal;
  margin: 75px 0px 0px 100px;
}


a {
  font-family: hack;
  color: #a2c8c7;
  font-weight: bold;
}

a:hover {
  color: white;

}

h1 {
  color: #e0ecec;
  text-align: center;
}


hr {
  height: 8px;
  width: 50%;
  text-align: left;
  margin-left: 0;
  color: #e0ecec;
  background-color: #e0ecec;
}

p {
  font-family: hack;
  color: #e0ecec;
}

pre {
  font-family: courier;
  color: #e0ecec;
}