/* Import ClearviewHwy Font */
@import url('https://fonts.cdnfonts.com/css/clearviewhwy');

/*Html styling*/
html {
	background-image: linear-gradient(#008080, #153737);
	width: 100vw;
	height: 100vh;
	margin: 0 0 0 0;
}


/*Headings styling*/
h1.intro{
	font-family: 'ClearviewHwy', sans-serif;
	position: relative;
	letter-spacing: -4px;
	word-spacing: -4px;
	width: 450px;
	margin: 250px auto 0;
	text-align: center;
	color: white;
}

h3.intro{
	font-family: 'ClearviewHwy', sans-serif;
	position: relative;
	width: 450px;
	margin: 10px auto 0;
	text-align: center;
	color: white;
}

h4.text {
	font-family: 'ClearviewHwy', sans-serif;
	position: relative;
	width: 500px;
	margin: 10px auto 0;
	text-align: center;
	color: white;
}

/*div.subway-line-main {
	background-color: #122726;
	width: 100%;
	height: 50px;
	margin: -50px 0 0 0;
	z-index: -1;
}*/

/*div.subway-line-two {
	background-color: #122726;
	width: 50px;
	height: 100px;
	margin: 0px 0 0 1500px;
	z-index: -2;
}*/


/*Navbar styling*/
nav {
	position: relative;
	margin: 25px auto 0;
	width: 450px;
	height: 50px;
	background: #122726;
	border-radius: 25px;
	font-size: 0;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
}

div {
	position: relative;
	font-size: 16px;
	text-align: center;
}

nav a{
	font-size: 25px;
	font-family: 'ClearviewHwy', sans-serif;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	line-height: 57px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
}

nav a #tooltip{
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	background-color: #122726;
	color: #fff;
	white-space: nowrap;
	padding: 10px;
	border-radius: 7px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s ease;
	line-height: 20px;
}

nav a #tooltip::before {
	content: "";
	position: absolute;
	left: 50%;
	top: -70%;
	transform: translateX(-50%);
	border: 15px solid;
	border-color: #0000 #0000 #122726 #0000;
}

a:hover #tooltip {
	top: 130%;
	visibility: visible;
	opacity: 1;
	font-size: 14px;
}

a:hover span {
	color: #122726;
	transition: all .5s ease .25s;
}

/*Animation*/

nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	width: 50px;
	border-radius: 8px;
	transition: all .5s ease 0s;
}

a:nth-child(1){
	width: 50px;
}

nav .start-about,a:nth-child(1):hover~.animation {
	width: 50px;
	left: 0;
	background: #FFCB0C;
}

a:nth-child(2){
	width: 150px;
}

nav .start-home,a:nth-child(2):hover~.animation {
	width: 50px;
	left: 100px;
	background: #16A753;
	border-radius: 50%;
}

a:nth-child(3){
	width: 50px;
}

nav .start-blog,a:nth-child(3):hover~.animation {
	width: 50px;
	left: 200px;
	background: #1F99D5;
}

a:nth-child(4){
	width: 150px;
}

nav .start-portfolio,a:nth-child(4):hover~.animation {
	width: 50px;
	left: 300px;
	background: #B32078;
}

a:nth-child(5){
	width: 50px;
}

nav .start-contact,a:nth-child(5):hover~.animation {
	width: 50px;
	left: 400px;
	background: #F87005;
}


/*About text styling*/
.about {
	font-family: 'ClearviewHwy', sans-serif;
	font-size: 16px;
	letter-spacing: -2px;
	word-spacing: -2px;
	position: relative;
	width: 450px;
	margin: 25px auto 0;
	text-align: center;
	color: white;
	display: flex;
	justify-content: center;
}

.motto {
	font-family: 'ClearviewHwy', sans-serif;
	position: relative;
	width: 450px;
	margin: 25px auto 0;
	text-align: center;
	color: white;
	display: flex;
	justify-content: center;
	font-style: italic;
	font-weight: bold;
}

/*Image styling*/
.img-center {
	position: relative;
	width: 450px;
	margin: 0 auto 0;
	display: flex;
	justify-content: center;
}

.img-center img {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	margin: 25px;
}
